{{!-- 
        <section class="notifications error">
            <p>Message...</p>
        </section> --}}

        <main>
            <form action="" method="POST">
                <h2>Login</h2>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" placeholder="Username" name="username" value="">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" placeholder="Password" name="password" value="">
                </div>

                <button class="btn" type="submit">Login</button>
            </form>
        </main>

        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

</body>

</html>